@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="container">
    <form class="form" asp-controller="Visitas" asp-action="***" enctype="multipart/form-data">
        <div style="border: 1px solid #d5d7dd; padding: 30px; border-radius: 15px;">
            <div class="row">
                <div class="text-center">
                    <h4>Creación de visitas</h4>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <label for="fechaEntrada" class="form-label">Fecha de entrada</label>
                            <input type="datetime-local" class="form-control form-control-sm mb-2" name="fechaEntrada"
                                required />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <label for="selectVisitante" class="form-label">Visitante:</label>
                        <select class="form-select form-select-sm mb-2" name="selectVisitante" required>
                            <option selected disabled value="">Seleccione un visitante</option>
                            @foreach (var item in ViewBag.visitantes)
                            {
                                <option value="@item.idVisitante">@item.nombre @item.primerApellido @item.segundoApellido </option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <label for="selectTipo" class="form-label">Tipo de Visita:</label>
                        <select class="form-select form-select-sm mb-2" name="selectTipo" required>
                            <option selected disabled value="">Seleccione un tipo de visita</option>
                            @foreach (var item in ViewBag.tipoVisita)
                            {
                                <option value="@item.idTipoVisita">@item.nombreTipo </option>
                            }
                        </select>
                    </div>
                    <br>
                    <div class="form-group float-end">
                        <div class="col-12">
                            <button class="btn btn-white" type="reset">Limpiar</button>
                            <button class="btn btn-success" type="submit">Guardar</button>
                        </div>
                    </div>
                    <a href="@Url.Action("Agregar","Visitantes",  new {})">¿No has agregado visitantes?</a>
                </div>
            </div>
        </div>
    </form>
</div>