@{
    ViewData["Title"] = "Vehiculos";
}

@await Html.PartialAsync("AccesoUsuarios")

<div class="container" style="height: auto; width: auto; text-align: center; padding-top: 50px; ">
    <div class="row" style=" height: auto; width: 700px; margin: 0px auto; ">
        <form class="form" asp-controller="Seguridad" asp-action="Vehiculos_Condominos" enctype="multipart/form-data">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-5 col-md-5">
                    <input type="text" class="form-control form-control-sm mb-2" name="busqueda" value="" />
                </div>
                <div class="col-xs-2 col-md-2">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <div class="table-responsive">
        <table class="table caption-top table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.vehiculos)
                {
                    <tr>

                            <th>@item.idVehiculo</th>
                                <td>@item.placa</td>
                                <td>@item.marca</td>
                                <td>@item.modelo</td>
                                <td>@item.color</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
